
@{
    ViewBag.Title = "Admin";
}

<h2>Enter your login credentials</h2>
<link href="@Url.Content("~/Content/themes/base/jquery-ui.min.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/jquery-3.2.1.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")"></script>


    @using(Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <table>
        <tr>
            <td>Login Id: </td>
            <td>@Html.Editor("adminId")</td>
        </tr>
        <tr>
            <td>Password: </td>
            <td>@Html.TextBox("adminPass", null, new {type = "password" })</td>            
        </tr>           
        <tr>
            <td><input id="submitAdmin" type="submit" value="submit" /></td>
        </tr>
        </table>    
    }
    
    



