
@{
    ViewBag.Title = "Admin Main Menu";
}

<h2>Please choose one action:</h2>
<ul>
    <li>@Html.ActionLink("Add a document", "AddDocument", "Admin")</li>
    <li>@Html.ActionLink("Search", "Search", "Admin")</li>
    <li>@Html.ActionLink("Add a new reader", "AddReader", "Admin")</li>
    <li>@Html.ActionLink("Branch Information", "BranchInfo", "Admin")</li>
    <li>@Html.ActionLink("Frequent borrowers", "FrequentBorrowers", "Admin")</li>
    <li>@Html.ActionLink("Most borrowed books by branch", "MostBorrowedBooks", "Admin")</li>
    <li>@Html.ActionLink("Most popular books of the year", "MostPopularbooks", "Admin")</li>
    <li>@Html.ActionLink("Average fine paid per user", "AverageFine", "Admin")</li>
    <li>@Html.ActionLink("Quit", "Index", "Home")</li>
</ul>

